.App {
  position: absolute;
  width: 100%;
  background: url('./lib/background.png') no-repeat fixed;
  background-size: cover;
  background-position: center;
}



/* header */
.NavHeader{
  z-index: 10;
  width: 100%;
  height: 4.2em;
  position: fixed;
  top: 0;
  /* background: red */
  background: url('./lib/background.png') no-repeat fixed;
}


.Header{
  margin-top: 0.3em;
  z-index: 10;
  width: 100%;
}
.Header .navBk {
  border-radius: 4px;
}
.Header a {
  margin-left: .7em;
  font-weight: 700
}
.Header .addBtn,
.Header button[class='navbar-toggler'] {
  margin-right: 0.8em;
  color: black;
}
.Header .addBtn input,
.Header .addBtn button{
  font-size: 0.91em
}
.Header nav button[class*='add'] {
  width: 6em
}



.row{
  margin-top: 4.12em;

}
.Col {
  margin-bottom: 0.5em;
  /* padding: 0.5em */
}

.Empty{
  margin-top: 15em;
  text-align: center;
  color: rgb(205,205,205);
  background: none;
  border: none;
  box-shadow: none;
}
.Empty h5{
  font-size: 30px;
}

/* List */
.List{
  background: rgb(240,240,240, 0.95);
}
.List .card-body{
  padding: 0.5em
}
.List button[class*='close']{
  margin: -0.5em -0.2em;
  font-size: 1.4em;
  color: rgb(150,150,150)
}
.List button[class*='close'] span:hover {
  color: red;
  cursor: pointer;
}
.List .DashHeader,
.List .ListSum {
  width: 80%;
  float: left;
  height: 3em;
}
.DashHeader h5,
.ListSum h5{
  font-weight: 700;
  height: 1.4em;
  margin: 0;
  /* background: red */
}


.DashHeader h5:hover {
  color: rgb(73, 19, 104);
  cursor: pointer;
  animation: enable 0.1s linear;
}
@keyframes enable {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}




.DashHeader span,
.ListSum span{
  position: relative;
  top: -0.5em;
  height: 0.5em;
  font-size: 0.8em;
  font-weight: 600;
  color: rgb(90,90,90)
}
.DashHeader span i{
  font-size: 0.9em;
}
.List .ListSum{
  text-align: center;
  width: 20%;
  float: right;
}


/* DashInput */
.DashInput input{
  font-size: 0.9em
}


/* ListGroup */
.ListGroup{
  margin-top: 0.2em;
}
.ListGroup li {
  padding: 0.5em 0.5em;
  margin-bottom: 0.1em
}
.ListGroup .DashInput {
  margin-bottom: 0.1em
}
.ListGroup li p {
  font-size: 0.95em;
  font-weight: 500;
  word-spacing: 0.1em;
  width: 100%;
  line-height: 1;  
}
.ListGroup li p:hover {
  color: rgb(73,19,104);
  cursor: pointer;
  animation: enable 0.1s linear;
}
.ListGroup .Icons {
  width: 100%;
}
.ListGroup .Icons small {
  width: 80%;
  font-size: 0.68em;
  padding-left: 1em;
  font-style: italic;
}
.ListGroup .Icons i {
  width: 20%;
  text-align: right;
  padding-right: 0.6em;
  color: rgb(200,200,200)
}
.ListGroup .Icons i:hover {
  color: red;
  cursor: pointer;
  animation: grow 0.1s linear;
}

.None {
  text-align: center;
  font-size: 1.9em;
  margin: 0;
  font-weight: 500;
  color: rgb(190,190,190)
}


@keyframes grow {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.Footer{
  background: rgb(240,240,240);
  width: 100%;
  height: 3em;
  margin: 0 auto;
  position: fixed;
  bottom: 0
}




.Signup {
  background: rgb(240,240,240, 0.95);
  padding: 1em;
  margin-top: 10em;
  border-radius: 4px
}
.Signup h5 {
  text-align: center;
  font-size: 1.5em
}
.Signup input, 
.Signup button{
  font-size: 0.95em;
}

.Login {
  background: rgb(240, 240, 240, 0.95);
  padding: 1em;
  margin-top: 10em;
  border-radius: 4px
}

.Login h5 {
  text-align: center;
  font-size: 1.5em
}

.Login input,
.Login button {
  font-size: 0.95em;
}































.sk-fading-circle {
  margin: 180px auto;
  width: 120px;
  height: 120px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgb(220,220,220);
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {

  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {

  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}